<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cybertill.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cybertill.API.Properties.Settings>
            <setting name="Cybertill_API_Soap_CybertillApi_v1_6Service" serializeAs="String">
                <value>http://ct226532.c-pos.co.uk/current/CybertillApi_v1_6.php</value>
            </setting>
        </Cybertill.API.Properties.Settings>
    </applicationSettings>
</configuration>